
<div class="login-layout" fxLayoutAlign="center center" fxFlex="100">

  <div fxLayout="column" fxFlex="40" fxFlex.lt-md="90" [formGroup]="loginInfo" fxLayoutGap="8px">
    <div fxlex="100" style="margin-top:40px;" fxLayoutAlign="center center" >
      <h2>Noob's Gallery</h2>
    </div>
    <mat-form-field fxlex="100" appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="Username" type="text" matInput>
    </mat-form-field>

    <mat-form-field fxlex="100" appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="Password"  [type]="hide ? 'password' : 'text'" matInput>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button (click)="loggedIn()" mat-raised-button>LOGIN</button>
    <div fxFlex="100" fxLayoutAlign="center center">
      <mat-spinner *ngIf="waiting" [diameter]="30"></mat-spinner>
    </div>
  </div>
</div>
